# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Environment variables
.env

# Node.js
node_modules/

# Prisma
prisma/.env

# VSCode settings
.vscode/

# IDE files
.idea/

# MacOS
.DS_Store

# Temporary files
*.bak
*.swp
